version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.2-stretch-browsers

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./hello
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run unit tests
          command: |
            . venv/bin/activate
            flake8 --exclude=venv/
            DJANGO_SETTINGS_MODULE=magicauth.tests.settings pytest

      - store_artifacts:
          path: test-reports
          destination: test-reports